<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a class="anchor" href="#colors" data-toggle="tab">Colors</a></li>
            <li><a class="anchor" href="#html" data-toggle="tab">HTML</a></li>
            <li><a class="anchor" href="#hmal" data-toggle="tab">HAML</a></li>
            <li><a class="anchor" href="#css" data-toggle="tab">CSS</a></li>
            <li><a class="anchor" href="#javascript" data-toggle="tab">Javascript</a></li>
            <li><a class="anchor" href="#coffee_script" data-toggle="tab">Coffee - script</a></li>
            <li><a class="anchor" href="#font" data-toggle="tab">FONT</a></li>
            <li><a class="anchor" href="#filter" data-toggle="tab">Filter</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="colors">
                <h5>Colors</h5>
            </div>
            <div class="tab-pane" id="html">
                <h5>HTML</h5>
            </div>
            <div class="tab-pane" id="hmal">
                <h5>HAML</h5>
            </div>
            <div class="tab-pane" id="css">
                <h5>CSS</h5>
            </div>
            <div class="tab-pane" id="javascript">
                <h5>Javascript</h5>
            </div>
            <div class="tab-pane" id="coffee_script">
                <h5>Coffee - script</h5>
            </div>
            <div class="tab-pane" id="font">
                <h5>FONT</h5>
            </div>
            <div class="tab-pane" id="filter">
                <h5>Filter</h5>
            </div>
        </div>
    </div>
</div>