<h1>Living Style Guide <br> Editor</h1>
<div class="diamond-container">
  <div class="diamond1 complete"></div>
  <div class="diamond2 complete turned-around"></div>
  <div class="diamond3 complete"></div>
  <div class="diamond4 complete turned-around"></div>
  <div class="diamond5 complete"></div>
  <div class="diamond6 complete turned-around"></div>
  <div class="diamond7 complete"></div>
  <div class="diamond8 complete turned-around"></div>
  <div class="diamond9 complete"></div>
  <div class="diamond10 complete turned-around"></div>
  <div class="diamond11 complete"></div>
  <div class="diamond12 complete turned-around"></div>
  <div class="diamond13 complete"></div>
  <div class="diamond14 complete turned-around"></div>
  <div class="diamond15 complete"></div>
</div>

