<html>
<head>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="assets/css/module.css">
  <link rel="stylesheet" type="text/css" href="assets/css/modules/button--generate-style-guide.css">
  <link rel="stylesheet" type="text/css" href="assets/css/modules/header.css">
  <script type="text/javascript" src= "assets/js/ace/ace.js"></script>
</head>
<body>
  <header class= "header">
    <h1>Living Style Guide Editor</h1>
  </header>

  <div class="container-fluid">

     <div class="row" >

      <div class="col-md-12 ">
        <form id="formArea" method="post" action="/lsg" class="col-md-5 without-padding">
          <div class="form-group col-md-12 without-padding">
            <div name="code_lsg" id="editor" class="form-control code-area"></div>
          </div>

          <button type="submit" class="center-block button"> <span class= "text-button"> Generate LSG </span>
            <div class="logo">
              <div class="rombo-up"></div>
              <div class="rombo-right"></div>
              <div class="rombo-down"></div>
              <div class="rombo-left"></div>
            </div>
          </button>
        </form>

        <div id="iframe--container" class="col-md-7 without-padding"></div>
      </div>

    </div>
  </div>
  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/markdown");
  </script>
  <script type="text/javascript" src= "assets/js/styleguide.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--  <script src="assets/js/bootstrap.min.js"></script>-->

</body>
</html>