<h5>Colors</h5>
<p>If you want to add colors swatches in your style guide, you just to use the @colors filter and specify your colors as the following:</p>
<pre><code>@colors:
-          -       -           #fff
-          -       #ff006a - #e7eee4
-          -        #cc2301 #b1ff91 #a3ae9e
-          -        #991a00 #7bcb5a #465141
-          -            -                 -       #24301f
</code></pre>
<p>
 What kind of colors can you include?
 You can include hexadecimal colors
 Name of browser predefined colors.
 If you want to include an empty space you should
 to add a dash (-) in the place where you wish this empty space.
</p>