.header{
  height: 15%;
}

.header h1 {
  margin: 0;
}

.code-area {
  background-color: #333333;
  color: #fff;
}

.code-area:focus {
  border-color: #24f4ae;
}

.button {
  position: absolute;
  right: -35px;
  top: 300px;
  z-index: 10;
}

#iframe--container {
  height: 714px;
}

#iframe--container iframe:hover {
  border: 1px solid #24f4ae;
}

.lsg--result {
  height: 100%;
  width: 100%;
}

.without-padding {
  padding: 0;
}