.code-area {
  background-color: #333333;
  color: #fff;
  height: 77% !important;
}

.code-area:focus {
  border-color: #24f4ae;
}

#iframe--container {
  height: 77%;
}

#iframe--container iframe:hover {
  border: 1px solid #24f4ae;
}

.lsg--result {
  height: 100%;
  width: 100%;
}

.without-padding {
  padding: 0;
}