# CODE BLOCK

```
<div class="block">
  <h1 class= "title">Title </h1>
  <ul>
    <li>
      <img class="avatar" src="https://www.evernote.com/l/AnfogJH5MytAnaTVRAMj_7mxz0hL6uMBeOcB/image.png">
      <span class="avatar--name">Name</span>
    </li>
    <li>
      <img class="avatar" src="https://www.evernote.com/l/AnfogJH5MytAnaTVRAMj_7mxz0hL6uMBeOcB/image.png">
      <span class="avatar--name">Name</span>
    </li>
    <li>
      <img class="avatar" src="https://www.evernote.com/l/AnfogJH5MytAnaTVRAMj_7mxz0hL6uMBeOcB/image.png">
      <span class="avatar--name">Name</span>
    </li>
    <li>
      <img class="avatar" src="https://www.evernote.com/l/AnfogJH5MytAnaTVRAMj_7mxz0hL6uMBeOcB/image.png">
      <span class="avatar--name">Name</span>
    </li>
    <li>
      <img class="avatar" src="https://www.evernote.com/l/AnfogJH5MytAnaTVRAMj_7mxz0hL6uMBeOcB/image.png">
      <span class="avatar--name">Name</span>
    </li>
   <li>
      <img class="avatar" src="https://www.evernote.com/l/AnfogJH5MytAnaTVRAMj_7mxz0hL6uMBeOcB/image.png">
      <span class="avatar--name">Name</span>
    </li>
  </ul>
</div>
```

@css:
.title {
 text-align: center;
}
ul li {
 display: inline-block;
 padding: 0px 24px;
}
.avatar{
 border-radius: 50%;
 width: 120px;
}
.avatar--name {
  background: #ff006a;
  color: white;
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  top: -49px;
  transform: rotate(-35deg) scale(1);
  position: relative;
  width: 140px;
}
.lsg--button {
  background-color: #eafdf8;
  background-size: 60%;
  border-radius: 50%;
  border: 0;
  fill: white;
}
.lsg--code-block {
 background:#2EF1BD;
}
