# JAVASCRIPT

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

```
<a id="bt" href= "#"><img class = "box" src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTODelVYY2zqfXolNzk-B_82yG9-mzGC9jRL_ACCTipavoXMMVS"/>
<div class= "cat-talk"> I also do my style guides</div>
<div class="vignette"></div></a>
```

```
@javascript
$(function() {
  $("#bt").click(function() {
    $(".box").toggleClass("box-change");
    $(".cat-talk").toggleClass("cat-talk-change");
    $(".vignette").toggleClass("vignette-change");
  });
});

```
@css:
.box {
  border-radius: 150px;
  height: 200px;
  margin-left: 100px;
  transition: width 2s ease, height 2s ease;
  -webkit-transition: width 2s ease, height 2s ease;
  -moz-transition: width 2s ease, height 2s ease;
  -o-transition: width 2s ease, height 2s ease;
  width: 200px;
}
.box-change {
  box-shadow: 0px 0px 10px 10px #A29196;
  height: 300px;
  width: 300px;
}
.cat-talk {
  display:none;
}
.cat-talk-change {
  background-color: white;
  border-radius: 20px;
  color:black;
  display:block;
  font-­family: verdana;
  font-weight: bold;
  height: 50px;
  left: 250px;
  padding: 5px;
  position: absolute;
  text-align:center;
  top: 90px;
  width: 150px;
}
.vignette{
  display:none;
}
.vignette-change {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #fff;
  display:block;
  height: 0;
  left: 270px;
  position: absolute;
  top: 150px;
  width: 0;
}
