<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

@header:

<h1 class="header"> Welcome, to the living style guide editor</h1>


In this editor you can test the gem Living Style Guide in live. It is a ruby gem
that generates front-end style guides using markdown, improving the documentation
of front-end projects and being of great utility for web development teams.

At the bottom of this editor you can find three buttons:

- The first button is for documentation. Here you can find information about how to generate your style guide.
- The second button is for challenges. You can practice doing different challenges and follow different examples.
- The third button is to reset the editor. With it you can start a new document from the beginning.


@css:

.header {
  height: 150px;
  padding-top: 75px;
  margin: 0;
  text-align:center;
  font-family: Abel;
  font-size: 40px;
  color: #E83573;
  background-color: #FFF1F5;
}
.lsg--container {
  padding-top: 20px;
}
.lsg--paragraph, ul {
  font-family: Abel;
  font-size: 20px;
}
