<h5>Colors</h5>
<p>
<br>
Play with dashes(-) to add empty spaces:<br>
</p>
<pre><code>- -       -       -
- - #cc2301 #b1ff91 #a3ae9e
- - #991a00 #7bcb5a #465141
</pre></code>

<div class="challenges"># Colors

@colors:
  #cc2301 #b1ff91 #a3ae9e
  #991a00 #7bcb5a #465141
</div>
