
<h5>Fonts</h5>
<p>
  Add a link to a font from Internet before your example to load it:
  <pre><code><%= CGI.escapeHTML "<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>"%></pre></code>
</p>
<div class="challenges"># Fonts

@font-example 20px Indie Flower:
  My example font
</div>
