<h5>HTML</h5>
<p>
</br>
Try this:</br>
To output only the content in a code-block specify plain as the code block language
</p>
<div class="challenges">
```
<div class="block">
  <h1 class="title">Extract content</h1>
  <p> This is a content inside of a code block</p>
</div>
```
</div>
