<h5>Javascript</h5>
<p>
</br>
  If you want run JQUERY only add the link before the javascript block:
</p>
<pre><code>
<%= CGI.escapeHTML '<script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>' %>
</pre></code>
<div class="challenges">

```plain
<button>If you click on me, I will disappear.</button>


<button>If you click on me, I will disappear.</button>
```
```javascript
@javascript
$(document).ready(function(){
    $("button").click(function(){
        $(this).hide();
    });
});
```
</div>
