.button {
  background-color: #C42872;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  height: 113px;
  position: absolute;
  right: -56px;
  top: 40%;
  transition: 0.7s ease;
  -webkit-transition: 0.5s ease;
  transform: rotateZ(45deg) rotateX(0deg) rotateY(180deg);
  -ms-transform:  rotateZ(45deg) rotateX(0deg) rotateY(180deg);
  -webkit-transform: rotateZ(45deg) rotateX(0deg) rotateY(180deg);
  z-index: 10;
  width: 113px;
}

.button span.text-button {
  display: block;
  transform:rotateZ(44deg) rotateX(8deg) rotateY(180deg);
  position: relative;
  transform: rotateZ(44deg) rotateX(8deg) rotateY(180deg);
  -ms-transform: rotateZ(44deg) rotateX(8deg) rotateY(180deg);
  -webkit-transform: rotateZ(44deg) rotateX(8deg) rotateY(180deg);
  z-index: 9999;
}

button.button:focus {
  outline-color: #FFE7EE;
}

.logo {
  border-color: #e83573;
  bottom: 63%;
  display: block;
  height: 35%;
  left: 50%;
  position: absolute;
  transform: rotateZ(90deg) rotateX(0deg) rotateY(180deg);
  -ms-transform: rotateZ(90deg) rotateX(0deg) rotateY(180deg);
  -webkit-transform: rotateZ(90deg) rotateX(0deg) rotateY(180deg);
  z-index: 10;
  width: 30%;
}
.rombo-rotate {
  border: 3px solid #e83573;
  height: 75%;
  position: relative;
  transform: rotateZ(0deg) rotateX(0deg) rotateY(180deg);
  -ms-transform: rotateZ(0deg) rotateX(0deg) rotateY(180deg);
  -webkit-transform: rotateZ(0deg) rotateX(0deg) rotateY(180deg);
  z-index: -1;
  width: 80%;
}

.rombo-up {
  right: 50%;
  top: 28%;
}

.rombo-right{
  bottom: 134%;
  right: 50%;
}

.rombo-down {
  bottom: 59%;
  right: 120%;
}

.rombo-left {
  bottom: 47%;
  right: 120%;
}
