.container-button {
  background-color: #232323 ;
  bottom: 0%;
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: 9;
}

input[class^="help-toggle"] {
  display: none;
}

input[class^="help-toggle"] + label {
  background-size: cover;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
  float:left;
  font-size: 18px;
  height: 20px;
  margin: 0 auto 10px 10px;
  position: absolute;
  top: 4px;
  transition: all .6s;
  width: 20px;
}

.help-documentation {
  left: 35px;
}

input[class^="help-toggle"]:checked + label {
  background-color: #545454;
  color:#faff8c;
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;
}

input[class^="help-toggle"] ~ .documentation {
  background: #141414;
  border-radius: 5px;
  border: 2px solid #545454;
  bottom: 20px;
  color: #fff;
  height: 0;
  margin: 10px auto 10px;
  max-height: 300px;
  opacity: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0px;
  transition: all .6s;
  width: 95%;
}

input[class^="help-toggle"]:checked + label + .doc {
  height: auto;
  opacity: 1;
}

.anchor {
  color: #2EF1BD;
}

.nav-tabs>li.active>a.anchor, .nav-tabs>li.active>a.anchor:hover, .nav-tabs>li>a.anchor:focus, .nav-tabs>li>a.anchor:hover {
  background-color: #2EF1BD;
  color: #fff;
}